.footer-wrapper.text-center
	.rectangle1
	.rectangle2
	h1.title Create Your Perfect Website
	a.slz-btn(href="http://bit.ly/flexible-wp") 
		span.btn-text Purchase theme now
	p.author 
		| MAKE WITH LOVE BY 
		span SWLABS
	.mockup-iphone.wow.slideInUp(data-wow-delay="0.5s")
		img.img-responsive(src="assets/images/mockup/image-10.png", alt="")

