!= partial("_includes/section/slider-banner")
!= partial("_includes/section/portfolio")
!= partial("_includes/section/features")
!= partial("_includes/section/banner-1")
!= partial("_includes/section/key-features")
!= partial("_includes/section/banner-2")
!= partial("_includes/section/shortcodes")
!= partial("_includes/section/banner-3")
!= partial("_includes/section/banner-4")
!= partial("_includes/section/banner-5")
!= partial("_includes/section/testimonial")
