section#demo-banner-3.banner-3.padding-top-100.padding-bottom-100
	.container.text-center
		p.description
			| Build amazing sites using 
			span Shortcodes
		h2.title Switch between Classic & Modern style
	.way.depth-1
	.way.depth-2
