section#demo-banner-5.banner-5.padding-top-100.padding-bottom-100
	.banner-mockup.position-left
		img.img-responsive.img-banner-5(src="assets/images/mockup/image-9.png", alt="")
	.container
		.row
			.col-sm-6.col-sm-offset-6
				.content-header
					.title-wrapper.text-left
						h2.main-title Truly Unlimited Flexi Layouts
						h5.sub-title With our powerful set of elements, you can make unique and different WordPress websites.
				.content-demo
					ul.list-info
						li
							p Huge, awesome and creative
						li
							p Fully equipped demos and highly customizable
						li
							p Variety of powerful & pratical presentational elements
					.button-wrapper.margin-top-50
						a.slz-btn(href='http://wp.swlabs.co/flexi/') 
							span.btn-text VIEW DEMO
