section#demo-banner-2.banner-2.padding-top-100.padding-bottom-100
	.banner-mockup.position-left
		img.img-responsive.img-banner-5(src="assets/images/mockup/image-1.png", alt="")
		img.img-responsive.img-banner-6(src="assets/images/mockup/image-2.png", alt="")
	.container
		.row
			.col-sm-6.col-sm-offset-6.wow.slideInRight(data-wow-duration="1.5s")
				.content-header
					.title-wrapper.white-color.text-left
						h2.main-title WooCommerce Ready
						h5.sub-title Start your beautiful online store and sell your product in a professional shop.
				.content-demo
					ul.list-info.white-color
						li
							p Customize your shop easier
						li
							p Add feature best sellers
						li
							p Flexible layout for all product
					.button-wrapper.margin-top-50
						a.slz-btn.slz-btn-white(href='http://wp.swlabs.co/flexi/') 
							span.btn-text VIEW DEMO
