section#demo-banner-4.banner-4.padding-top-100.padding-bottom-100
	.banner-mockup
		img.img-responsive.img-banner-5(src="assets/images/mockup/image-8.png", alt="")
	.container
		.row
			.col-sm-6
				.content-header
					.title-wrapper.text-left
						h2.main-title No More Backend Editor
						h5.sub-title Combination is possible by drag drop even without having any experience and technical
				.content-demo
					ul.list-info
						li
							p Innovative functionalities
						li
							p Add your content to pages fast and easy
						li
							p Variety of fully customizable layouts
					.button-wrapper.margin-top-50
						a.slz-btn(href='http://wp.swlabs.co/flexi/') 
							span.btn-text VIEW DEMO
