section#demo-banner.banner-1.padding-top-100.padding-bottom-100
	.banner-mockup
		img.img-responsive.img-banner-1.wow.slideInRight(data-wow-duration="0.75s" src="assets/images/mockup/image-4.png", alt="")
		img.img-responsive.img-banner-2.wow.slideInRight(data-wow-delay="0.3s" data-wow-duration="0.75s" src="assets/images/mockup/image-5.png", alt="")
		img.img-responsive.img-banner-3.wow.slideInRight(data-wow-delay="0.6s" data-wow-duration="0.75s" src="assets/images/mockup/image-6.png", alt="")
		img.img-responsive.img-banner-4.wow.fadeInDown(data-wow-delay="1s" data-wow-duration="0.75s" src="assets/images/mockup/image-7.png", alt="") 
	.container
		.row
			.col-sm-6.wow.slideInLeft(data-wow-duration="1.5s")
				.content-header
					.title-wrapper.white-color.text-left
						h2.main-title We Create Beautiful Demos For All Business
						h5.sub-title Build your business beautiful. Flexi has a business demo for every need, and a beautiful website makes it much easier.
				.content-demo
					ul.list-info.white-color
						li
							p Fleaxible custom layout
						li
							p Beautiful demos with creative elements
						li
							p Innovative, powerful & highly useful features