section#section-feature.padding-top-100.padding-bottom-100
	.container
		.content-header
			.title-wrapper.text-center
				h2.main-title The Easiest Way to Create
				h5.sub-title Build your business beautiful. Flexi has a business demo for every need, and a beautiful website makes it much easier.
		.content-demo
			.list-features.column-2
				.item.wow.fadeInUp(data-wow-delay="0.1s")
					.feature-item
						.feature-img
							img.img-responsive.pull-left(src="assets/images/features/feature1.jpg", alt="")
						.feature-info
							h3.title Unlimited Color
							p With color picker in admin panel, you can make your site more dynamic. You can choose a color from popup with one click or paste your code into field.
				.item.wow.fadeInUp(data-wow-delay="0.1s")
					.feature-item
						.feature-img
							img.img-responsive.pull-left(src="assets/images/features/feature2.jpg", alt="")
						.feature-info
							h3.title Translation Ready
							p mo & .po files are prepared in advanced, you can create a multilanguage site quickly & automatically.
				.item.wow.fadeInUp(data-wow-delay="0.2s")
					.feature-item
						.feature-img
							img.img-responsive.pull-left(src="assets/images/features/feature3.jpg", alt="")
						.feature-info
							h3.title 800+ Google Web Fonts
							p We comes with 800+ web optimized google fonts.
				.item.wow.fadeInUp(data-wow-delay="0.2s")
					.feature-item
						.feature-img
							img.img-responsive.pull-left(src="assets/images/features/feature7.jpg", alt="")
						.feature-info
							h3.title Documentation Guide
							p We created document guide by video, doc that clear, easy for understanding.
				.item.wow.fadeInUp(data-wow-delay="0.3s")
					.feature-item
						.feature-img
							img.img-responsive.pull-left(src="assets/images/features/feature5.jpg", alt="")
						.feature-info
							h3.title Slider Revolution
							p Slider Revolution is an innovative, responsive WordPress Slider Plugin that displays your content the beautiful way. Whether it’s a Slider, Carousel, Hero Scene or even a whole Front Page, the visual, drag & drop editor will let you tell your own stories in no time!
				.item.wow.fadeInUp(data-wow-delay="0.3s")
					.feature-item
						.feature-img
							img.img-responsive.pull-left(src="assets/images/features/feature4.jpg", alt="")
						.feature-info
							h3.title WooCommerce Ready
							p Create full eCommerce sites easily .Built to integrate seamlessly with WP, WooCommerce is the world’s favorite eCommerce solution that gives both store owners and developers complete control
				.item.wow.fadeInUp(data-wow-delay="0.4s")
					.feature-item
						.feature-img
							img.img-responsive.pull-left(src="assets/images/features/feature6.jpg", alt="")
						.feature-info
							h3.title Visual Composer
							p The most popular WordPress page builder plugin! Visual Composer is easy to use drag and drop page builder that will help you to create any layout you can imagine fast and easy. No coding skills required!
				.item.wow.fadeInUp(data-wow-delay="0.4s")
					.feature-item
						.feature-img
							img.img-responsive.pull-left(src="assets/images/features/feature8.jpg", alt="")
						.feature-info
							h3.title Superior Support
							p You will be provided 6 months free included support after purchasing our template.