section#section-key-feature.padding-top-100.padding-bottom-100
	.container
		.content-header
			.title-wrapper.text-center
				h2.main-title Key Features
				h5.sub-title Quickly create your WordPress website in the most fastest and easiest way.
		.content-demo
			.list-features.column-4
				.item
					.feature-icon
						.icon-wrapper
							i.ion-ios-paper-outline
						.icon-content
							h5.title +90 Shortcodes
				.item
					.feature-icon
						.icon-wrapper
							i.ion-ios-compose-outline
						.icon-content
							h5.title ONE-CLICK IMPORT
				.item
					.feature-icon
						.icon-wrapper
							i.ion-ios-people-outline
						.icon-content
							h5.title SOCIAL MEDIA INTEGRATION
				.item
					.feature-icon
						.icon-wrapper
							i.ion-ios-monitor-outline
						.icon-content
							h5.title Fully responsive
				.item
					.feature-icon
						.icon-wrapper
							i.ion-ios-cart-outline
						.icon-content
							h5.title woocommerce
				.item
					.feature-icon
						.icon-wrapper
							i.ion-ios-pulse
						.icon-content
							h5.title Fully optimized for seo
				.item
					.feature-icon
						.icon-wrapper
							i.ion-ios-color-wand-outline
						.icon-content
							h5.title Amazing parallax effect
				.item
					.feature-icon
						.icon-wrapper
							i.ion-ios-heart-outline
						.icon-content
							h5.title beautyful icon pack
				.item
					.feature-icon
						.icon-wrapper
							i.ion-ios-compose-outline
						.icon-content
							h5.title Optimized google Fonts
				.item
					.feature-icon
						.icon-wrapper
							i.ion-ios-photos-outline
						.icon-content
							h5.title easily translation
				.item
					.feature-icon
						.icon-wrapper
							i.ion-ios-cog-outline
						.icon-content
							h5.title completely free plugins
				.item
					.feature-icon
						.icon-wrapper
							i.ion-ios-world-outline
						.icon-content
							h5.title fast & friendly support