section#section-portfolio.padding-top-100
    .content-header
        .title-wrapper.text-center
            h2.main-title Choose A Demo
            h5.sub-title We provide prefect demo for all of business. Choose our demo and enjoy it!
    .content-demo
        ul#filters.tab-filter
            li.filters-groups.tab.active(data-filter='*', data-category='all')
                a ALL
            li.filters-groups.tab(data-filter='.tab-1', data-category='tab-1')
                a HOME MULTI PAGES
            li.filters-groups.tab(data-filter='.tab-3', data-category='tab-3')
                a ONE PAGE
            li.filters-groups.tab(data-filter='.tab-5', data-category='tab-5')
                a BLOG
            li.filters-groups.tab(data-filter='.tab-6', data-category='tab-6')
                a STORE
            li.filters-groups.tab(data-filter='.tab-8', data-category='tab-8')
                a OTHER
        .content-filters
            .grid
                .grid-item.tab-1.tab-2(data-category='tab-1')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-1.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/" target="_blank")
                    p 01. home default
                .grid-item.tab-3.tab-1(data-category='tab-3')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-2.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/home-default/home-option/" target="_blank")  
                    p 02. home option
                .grid-item.tab-4.tab-2(data-category='tab-2')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-3.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/home-default/home-agency/" target="_blank")
                    p 03. home agency
                .grid-item.tab-5.tab-6(data-category='tab-5')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-4.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/home-default/home-one-page/" target="_blank")
                    p 04. home one page
                .grid-item.tab-7.tab-8(data-category='tab-7')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-5.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/home-app/" target="_blank")
                    p 05. HOME APPS
                .grid-item.tab-8.tab-1(data-category='tab-8')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-6.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/home-default/home-resume/" target="_blank")
                    p 06. home resume
                .grid-item.tab-3.tab-8(data-category='tab-3')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-7.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/home-default/home-creative/" target="_blank")
                    p 07. home creative
                .grid-item.tab-4.tab-5(data-category='tab-4')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-8.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/home-default/home-startup-02/" target="_blank")
                    p 08. home startup
                .grid-item.tab-6.tab-7(data-category='tab-6')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-9.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/home-default/digital-agency-02/" target="_blank")
                    p 09. home digital agency
                .grid-item.tab-1.tab-6(data-category='tab-1')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-10.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/home-default/digital-agency-03/" target="_blank")
                    p 10. home company
                .grid-item.tab-2.tab-8(data-category='tab-2')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-11.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/home-default/home-business-01/" target="_blank")
                    p 11. home business
                .grid-item.tab-7.tab-4(data-category='tab-7')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-12.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/home-default/home-corporate-02/" target="_blank")
                    p 12. home corporate
                .grid-item.tab-6.tab-1(data-category='tab-6')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-13.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/about/" target="_blank")
                    p 13. about
                .grid-item.tab-3.tab-8(data-category='tab-3')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-14.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/services/" target="_blank")
                    p 14. services
                .grid-item.tab-4.tab-2(data-category='tab-4')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-15.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/service/how-stock-trading-works/" target="_blank")
                    p 15. services detail
                .grid-item.tab-7.tab-6(data-category='tab-7')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-16.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/portfolio/" target="_blank")
                    p 16. portfolio
                .grid-item.tab-6.tab-7(data-category='tab-6')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-17.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/teams-list/" target="_blank")
                    p 17. teams list
                .grid-item.tab-1.tab-6(data-category='tab-1')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-18.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/blog-list/" target="_blank")
                    p 18. blog classic
                .grid-item.tab-2.tab-8(data-category='tab-2')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-19.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/blog-list/blog-2-columns-sidebar-right/" target="_blank")
                    p 19. blog 2 columns
                .grid-item.tab-7.tab-4(data-category='tab-7')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-20.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/contact/" target="_blank")
                    p 20. contact
                .grid-item.tab-6.tab-1(data-category='tab-6')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-21.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/contact-v2/" target="_blank")
                    p 21. contact v2
                .grid-item.tab-3.tab-8(data-category='tab-3')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-22.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/faq/" target="_blank")
                    p 22. FAQ
                .grid-item.tab-4.tab-2(data-category='tab-4')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-23.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/recruitment-list/" target="_blank")
                    p 23. recruitment
                .grid-item.tab-7.tab-6(data-category='tab-7')
                    .image-gallery
                        img.img-responsive.img-item(src='assets/images/post/post-24.jpg', alt="")
                        .overlay
                        a.link-demo(href="http://wp.solazu.net/flexi/404" target="_blank")
                    p 24. page 404
