section#section-shortcode.padding-top-100.padding-bottom-100
	.container
		.content-header
			.title-wrapper.text-center
				h2.main-title 200+ Shortcodes
				h5.sub-title Having access to many shortcodes have different styles to fit in the design of different websites.
	.content-demo
		.shortcode-bg
			img.img-responsive(src="assets/images/background/background-6.jpg", alt="")
			h2.number-shortcode 200+