section#home.slider-banner
    .slider-banner-content.wow.fadeIn(data-wow-delay="1.5s", data-wow-duration="2s")
        h2.title The flexi theme
        p.description  Flexi was designed with terrific attention to details, flexibility and performance. Each concept is included and can be easily imported with 1 click. Choose any of these or create your own.
        .wrapper-button.wow.fadeInUp(data-wow-delay="2.5s" , data-wow-duration="1s")
            a.slz-btn(href='http://bit.ly/flexible-wp') 
                span.btn-text purchase theme
    img.img-mockup.mockup-1.wow.rollIn(data-wow-delay="1s" src="assets/images/mockup/glasses.png", alt="")
    img.img-mockup.mockup-2.wow.rotateInDownRight(data-wow-delay="1s" src="assets/images/mockup/header_penpot.png", alt="")
    img.img-mockup.mockup-3.wow.rotateInUpRight(data-wow-delay="1s" src="assets/images/mockup/header_flowerpot.png", alt="")
    img.img-mockup.mockup-4.wow.rollIn(data-wow-delay="1s" src="assets/images/mockup/paper.png", alt="")
    a.mouse-icon.wow.fadeIn.page-scroll(href='#section-portfolio', data-wow-delay="2s", data-wow-duration="2s")
        .wheel
