section#testimonial-1.testimonial-banner.padding-top-100.padding-bottom-100
	.container
		.testimonial-list
			.item
				.testimonial-wrapper
					img.img-responsive.icon-quote(src="assets/images/logos/testimonial.png", alt="")
					h5.description It has been the best theme I’ve bought here in envato give them 5 stars for support on a Sunday but in a nutshell helped me… and my clients are happy
					.star-rating
					.name CUSTOMER SUPPORT
			.item
				.testimonial-wrapper
					img.img-responsive.icon-quote(src="assets/images/logos/testimonial.png", alt="")
					h5.description Simply and fast to customize and excellent support. One of the best theme I have bought
					.star-rating
					.name CUSTOMER SUPPORT
			.item
				.testimonial-wrapper
					img.img-responsive.icon-quote(src="assets/images/logos/testimonial.png", alt="")
					h5.description I like the theme and the support. The people are very helpful and very friendly. Thanks so much
					.star-rating
					.name CUSTOMER SUPPORT
			.item
				.testimonial-wrapper
					img.img-responsive.icon-quote(src="assets/images/logos/testimonial.png", alt="")
					h5.description Nice theme with a lot of functions!
					.star-rating
					.name Code quality
			.item
				.testimonial-wrapper
					img.img-responsive.icon-quote(src="assets/images/logos/testimonial.png", alt="")
					h5.description Awesome design & Handy customization. 10/10 great work
					.star-rating
					.name Design Quality