@media screen and (max-width: 480px) {
	.feature-item {
		.feature-img {
			width: 35%;
		}
		.feature-info {
			padding: 20px;
		}
	}

	.footer-wrapper .slz-btn {
		padding: 15px 20px;
	}

	.footer-wrapper .title {
		font-size: 32px;
	}

	.slider-banner .slider-banner-content {
		padding-left: 20px;
		padding-right: 20px;
	}

	.slider-banner {
		.mockup-1 {
			width: 100px;
		}
		.mockup-2 {
			top: -3%;
			width: 300px;
		}
		.mockup-3 {
			width: 260px;
		}
		.mockup-4 {
			bottom: -5%;
		}
	}
	
	.grid .grid-item {
		width: 100%;
	}
	
	.banner-3 .title {
		font-size: 28px;
	}

	.footer-wrapper .slz-btn {
		min-width: 240px;
		font-size: 15px;
	}

	.testimonial-list .item {
		padding-left: 10px;
		padding-right: 10px;
	}

	.feature-icon {
		padding-left: 0;
		padding-right: 0;
	}
	
	#section-portfolio {
		.content-header {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}