@media screen and (max-width: 768px) {
	.padding-top-100 {
		padding-top: 70px;
	}
	.padding-bottom-100 {
		padding-bottom: 70px;
	}

	#mainNav {
		.navbar-nav .page-scroll {
			margin: 0 15px;
		}
	}

	.slider-banner {
		min-height: 667px;
		.mockup-2 {
			top: 10%;
			width: 35%;
		}
		.mockup-4 {
			width: 30%;
		}
		.slider-banner-content {
			padding-left: 40px;
			padding-right: 40px;
		}
		.title {
			font-size: 50px;
		}
		.description {
			font-size: 16px;
		}
	}

	.grid {
		.grid-item {
			width: 50%;
			p {
				padding-top: 20px;
			}
		}
	}

	.list-features {
		&.column-2 {
			> .item {
				width: 100%;
				&:nth-child(-n + 2) {
					margin-top: 30px;
				}
				&:first-child {
					margin-top: 0;
				}
			}
		}
		&.column-4 {
			> .item {
				width: 33.333333%;
				&:nth-child(-n + 4) {
					margin-top: 30px;
				}
				&:nth-child(-n + 3) {
					margin-top: 0px;
				}
			}
		}
	}

	.title-wrapper {
		margin-bottom: 40px;
		.main-title {
			font-size: 28px;
		}
		.sub-title {
			font-size: 15px;
		}
	}

	.list-info li {
		padding-top: 7px;
		padding-bottom: 7px;
	}

	.banner-1 {
		.banner-mockup {
			top: 50%;
			height: 70%;
			bottom: auto;
			-webkit-transform: translateY(-50%);
    		transform: translateY(-50%);
		}
	}

	.banner-3 {
		.description {
			font-size: 20px;
		}
		.title {
			font-size: 30px;
		}
	}
	.shortcode-bg {
		.number-shortcode {
			font-size: 40px;
			padding: 15px 30px 12px 30px;
		}
	}

	.testimonial-wrapper {
		.description {
			font-size: 18px;
		}
		.icon-quote {
			width: 45px;
		}
	}

	.footer-wrapper {
		margin-top: 0;
		padding: 30px;
		position: relative;
		.rectangle1,
		.mockup-iphone {
			display: none;
		}
		.rectangle2 {
			width: 100%;
			top: 0;
			left: 0;
			right: 0;
			position: relative;
		}
		.title,
		.slz-btn {
			left: 50%;
			transform: translateX(-50%);
		}
		.title {
			width: 80%;
			font-size: 36px;
		}
		.author {
			margin-top: 60px;
		}
	}
}